<!DOCTYPE html>
<html>
  <head>
    <title>Mock Services - Configs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f2fd8db3ea.js" crossorigin="anonymous"></script>
  </head>
  <script>
    function selectEnvironment (index) {
      var config = { 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }, 
        method: 'POST',
        mode: 'cors', 
        body: JSON.stringify({index})
      };

      fetch("/environment/select-environment", config).then(() => {
        location.reload();
      });
    }

    function deleteEnvironment (index) {
      var config = { 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }, 
        method: 'POST',
        mode: 'cors', 
        body: JSON.stringify({index})
      };

      fetch("/environment/delete-environment", config).then(() => {
        location.reload();
      });
    }

    function selectMock (select) {
      var config = { 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }, 
        method: 'POST',
        mode: 'cors', 
        body: JSON.stringify({option: select.value})
      };

      fetch("/mock/select-mock", config).then(() => {
      });
    }

    function selectStatus (newStatus) {
      var config = { 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }, 
        method: 'POST',
        mode: 'cors', 
        body: JSON.stringify({option: newStatus})
      };

      fetch("/status/select-status", config).then(() => {
        location.reload();
      });
    }
  </script>
  <body>
    <div class="flex column">
      <h1>Mock Services</h1>
      <div class="flex">
        <div class="card flex column mr20">
          <h3>Select Mock</h3>
          <select onchange="selectMock(this)">
            <% folders = folders.map(function(folder) { %>
              <option <%= folder === mockSelected ? "selected" : "" %>><%= folder %></option>
            <% }) %>
          </select>
          <br><br>
          <h3>Create New Mock</h3>
          <form method="POST" action="/mock/create-folder">
            <input name="folderName" placeholder="insert mock name"/>
            <button>Insert</button>
          </form>
        </div>
        <div class="card flex column">
          <h3>Status </h3>

          <% if(folders.length === 0) { %>
            <span class="alert warning"><i class="fas fa-exclamation-triangle"></i> You need to add a mock before starting</span>
          <% } %>

          <% if(folders.length !== 0 && statusSelected === Status.STOPPED) { %>
            <span class="alert danger"><i class="fas fa-exclamation-triangle"></i> Mocks Stopped</span>
          <% } %>

          <% if(folders.length !== 0 && statusSelected === Status.RUNNING) { %>
            <span class="alert success"><i class="fas fa-exclamation-triangle"></i> Mocks Running</span>
          <% } %>

          <div class="flex row">
            <button class="danger mr20" onClick="selectStatus('stopped')"><i class="fas fa-stop"></i></button>
            <% if(folders.length > 0) { %>
              <button class="success" onClick="selectStatus('running')"><i class="fas fa-play"></i></button>
            <% } %>
          </div>
        </div>
      </div>
      <div class="flex mt20">
        <div class="card flex column">
          <h3>Select Environment</h3>
          <div class="flex">
            <% environmentsMap = environments.options.map(function(environment, index) { %>
              <div class="relative">
                <div onclick="selectEnvironment(<%= index %>)" class="environment <%= environments.selected === index ? 'selected' : '' %>">
                  <label class="title"><%= environment.name %></label>
                  <label><%= environment.address %></label>
                </div>
                <% if(environments.options.length > 1) { %>
                  <span onclick="deleteEnvironment(<%= index %>)" class="action-rounded danger"><i class="fas fa-trash"></i></span>
                <% } %>
              </div>
            <% }) %>
          </div>
          <h3>Create New Environment</h3>
          <form method="POST" action="/environment/create-environment">
            <input name="name" placeholder="insert environment name" required/>
            <input name="address" placeholder="insert environment address" required/>
            <button>Insert</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
